source "http://rubygems.org"

# RuGUI gem
gem 'rugui', '~> 2.0.0.beta'

# GTK ruby bindings
<%= '#' unless framework_adapter_name == 'GTK' %>gem 'gtk2'

# Qt ruby bindings
<%= '#' unless framework_adapter_name == 'Qt4' %>gem 'qtbindings'

# Rubygame
<%= '#' unless framework_adapter_name == 'Rubygame' %>gem 'rubygame'

# Uncomment this if you want to debug applications
# gem 'debugger'

group :test do
  gem 'rspec', '>= 2.11.0'
end